<h1>Tic Tac Toe</h1>
<ng-container *ngIf="finished">
  <table>
    <p>{{this.winner}}</p>
  </table>
</ng-container>
<ng-container *ngIf='!finished'>
  <table>
    <input type="button" value="Reset" (click)="reset()">
  </table>
  <table>
    <tr>
      <td class="box" style="text-align: center;" id="firstbox" (click)="fillbox('firstbox')"></td>
      <td style="text-align: center;" class="vert box" id="secondbox" (click)="fillbox('secondbox')"></td>
      <td class="box" style="text-align: center;" id="thirdbox" (click)="fillbox('thirdbox')"></td>
    </tr>
    <tr>
      <td style="text-align: center;" class="hori box" id="fourthbox" (click)="fillbox('fourthbox')"></td>
      <td style="text-align: center;" class="vert hori box" id="fifthbox" (click)="fillbox('fifthbox')"></td>
      <td style="text-align: center;" class="hori box" id="sixthbox" (click)="fillbox('sixthbox')"></td>
    </tr>
    <tr>
      <td class="box" style="text-align: center;" id="seventhbox" (click)="fillbox('seventhbox')"></td>
      <td style="text-align: center;" class="vert box" id="eighthbox" (click)="fillbox('eighthbox')"></td>
      <td class="box" style="text-align: center;" id="ninthbox" (click)="fillbox('ninthbox')"></td>
    </tr>
  </table>
</ng-container>
<ng-container *ngIf="finished">
  <table>
    Game finished.
    <input type="button" value="Restart" (click)="reset()">
  </table>
</ng-container>
